.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: none;
}
th {
  text-align: left;
}

.gorilla-img {
	height: 15em;
	margin:2em;
}

.page-header {
	font-family: 'Fugaz One', cursive;
	
}
